# 部分配置也可以在 config.json 中配置，不过环境变量中优先级更高
# BILI_COOKIE
BILI_COOKIE="这是cookie,千万不要让别人看到,更不要不要上传github"
# 配置无头模式(浏览器没有显示窗口, 默认为true, 如果想要看到执行过程可以设置为false, 服务器/docker等无显示环境请不要设置成false)
HEADLESS=true
# 使用风纪委员任务(单次执行中此任务和每日任务是互相排斥的)
BILI_TASK_JURY=true
# 设置默认输出日志等级（也可以直接修改src/config/log4js.ts）
LOGGER_LEVEL=DEBUG
# 浏览器用户代理
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.101 Safari/537.36 Edg/91.0.864.48
